body{
    margin: 0;
}

.container{
    height: 60vh;
    width: 50%;
    margin: auto;
    border-radius: 30px;
    background-color: rgb(195, 219, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    height: 10vh;
    padding: 20px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    background-color: rgb(41, 122, 214);
}

.left{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: gray;
    font-size: 63px;
}

.right a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.body-main{
    height: 80vh;
    width: 100%;
    align-content: center;
    /* background-color: black; */
}

.greeting{
    height: 250px;
    width: 350px;
    border-radius: 20px;
    background-color: #bcdbee;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.reg-container{
    height: 100vh;
    width: 100%;
    background-color: rgb(62, 210, 79);
    align-content: center;
}

.register-body{
    height: 75vh;
    width: 25rem;
    background-color: #fff;
    margin: auto;
    border-radius: 30px;
    align-content: center;
    box-shadow: 3px 5px 1px black;
    text-align: center;
}
form{
    margin: auto;
    height: 80%;
    width: 90%;
}

form input{
    width: 85%;
    height: 30px;
    background-color: aliceblue;
    border: 0;
    margin: 10px 0;
    border-bottom: 1px solid rgb(73, 72, 72) ;
}

form button{
    height: 30px;
    width: 85%;
    background-color: rgb(107, 143, 239);
    border: 0;
    border-radius: 20px;
    margin: 25px 0;
    color: #fff;
    font-weight: 600;
}

.greeting h1{
    font-size: 57px;
    color: #3a99d4;
    text-align: center;
}

.greeting p{
    text-align: center;
    font-size: 40px;
    color: #3a99d4;
    font-weight: 600;
}

